/**
 * Garamond theme for Drupal 5.x
 *
 * Authors: http://drupal.ru/user/1408
 *
 */
body {
	font: 75%/150% Arial, Helvetica, sans-serif;
	color: #333333;
	background:#eee url(img/body_bg.gif) repeat-x;
	margin: 0px;
	padding: 0px 0px 40px;
}
a {
	color: #0066cc;
	text-decoration: none;
}
a:visited {
	color: #0066cc;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	text-decoration: underline;
}
img {
	border: none;
}
p {
	padding: 3px 0;
	margin: 0px;
}
h1{
	margin:5px 0px;
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	color: #3c9fe1;
	letter-spacing: -2px;
	padding: 0;
}
h1 a, h1 a:visited{
	color: #3c9fe1;
	text-decoration: none;
}
h1 a:hover{
	color: #0066cc;
	text-decoration: none;
}
h2 {
	color: #0066cc;
	margin: 5px 0px 5px 0;
	border-bottom: 1px dotted #CCCCCC;
	letter-spacing: -1px;
	font: normal 24px/100% Arial, Helvetica, sans-serif;
	padding: 0;
}
h2 a, h2 a:visited {
	color: #0066cc;
	text-decoration: none;
}
h2 a:hover {
	color: #3c9fe1;
	text-decoration: none;
}
h3 {
	font: normal 140%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	background: #5eb2ea url(img/circle.gif) no-repeat 5px .32em;
	margin: 5px 0px 5px 0;
	padding: 2px 0px 2px 20px;
}
h4 {
	font: normal 130%/100% Arial, Helvetica, sans-serif;
	color: #3c9fe1;
	margin: 10px 0px 5px;
}
form {
	margin:0px;
	padding:0px;
}
#page {
	margin: 0px auto;
	width: 770px;
	background: #FFFFFF url(img/container_bg.gif) repeat-y;
}
#header {
	background:url(img/header_bg.gif) no-repeat;
	height: 120px;
	padding:0 3px;
	/* border-bottom: 1px solid #fff; */
	position: relative;
}
#header h1 {
	margin:0px;
	background: url(img/header-icon.gif) no-repeat;
	padding: 10px 0 0 90px;
	height: 71px;
	font: bold 34px/100% Arial, Helvetica, sans-serif;
	color: #c9eefe;
	letter-spacing: -2px;
}
#headerimg {
	position: relative;
	padding: 32px 0px 0px 40px;
	height: 70px;
}
#headerimg .description{
	position: absolute;
	left: 130px;
	bottom: 3px;
	color: #687a8d;
	font-size: 14px;
	font-weight: bold;
}
.nav {
	list-style: none;
	margin: 0px;
	position: absolute;
	right: 13px;
	bottom: 0px;
}
.nav li {
	float: left;
	margin-left: 5px;
}
.nav li a.active{
	color: #e8e8e8;
}
.nav li a{
	color: #e8e8e8;
	text-decoration: none;
	background-color: #0066cc;
	padding: 3px 15px;
	font: bold 12px/100% Arial, Helvetica, sans-serif;
	border-top: 1px solid #e4ecff;
	border-left: 1px solid #e4ecff;
	display: block;
}
.nav li a:hover {
	color: #fff;
}
#content {
	padding: 10px 15px 30px 30px;
	float: left;
	width: 492px;
	overflow: hidden;
}
.post {
	clear:both;
	padding-top: 10px;
}
.post-date {
	width: 42px;
	height: 41px;
	float:left;
	background: url(img/date-bg.gif) no-repeat;
}
.post-month {
	font-size: 11px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	display:block;
	line-height: 11px;
	padding-top: 2px;
	margin-left: -3px;
}
.post-day {
	font-size: 18px;
	text-transform: uppercase;
	color: #0066cc;
	text-align: center;
	display:block;
	line-height: 18px;
	padding-top: 2px;
	margin-left: -4px;
}
.entry {
	float:right;
	width: 438px;
}
.post-cat {
	background: url(img/mini-category.gif) no-repeat left center;
	padding-left: 20px;
	float:left;
	font-size: 95%;
	color: #999999;
}
.post-comments {
	background: url(img/mini-comments.gif) no-repeat left center;
	padding-left: 10px;
	float: right;
	font-size: 95%;
}
.post-calendar {
	background: url(img/mini-calendar.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	font-size: 95%;
	color: #999999;
}
.post-content {
	clear: both;
	padding-top: 10px;
}
.node_read_more a {
	background: url(img/mini-more.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 95%;
}
.comment_add a {
	background: url(img/mini-comments-add.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 95%;
}
li.comment_delete a {
  background: url(img/mini-trash.gif) no-repeat 0 0;
  padding-left: 15px;
  font-size: 95%;
}

li.comment_edit a {
  background: url(img/mini-edit.gif) no-repeat 0 0;
  padding-left: 15px;
  font-size: 95%;
}
li.comment_reply a {
  background: url(img/mini-comments.gif) no-repeat 0 0;
  padding-left: 15px;
  font-size: 95%;
}
.pager {
	clear: both;
	padding: 10px 0px;
}
.pager-list a, .pager a:visited {
	color: #0066cc;
}
#mission {
	padding: 5px 10px 5px 10px;
	margin: 0 0 10px 0;
	background-color: #e4ecff;
	text-align: center;
	font-weight: bold;
	color: #0066cc;
}
.breadcrumb {
	padding: 2px 10px 2px 10px;
	margin: 0 0 10px 0;
	background-color: #e4ecff;
}
#comments, #respond {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 5px;
}
.commentlist {
	margin: 10px 0px;
	padding-left: 20px;
	line-height: 130%;
}
.commentlist li{
	padding: 5px 10px;
}
.commentlist .even {
	background: #f5f9fc;
}
.commentlist cite, .commentlist cite a, .commentlist cite a:visited {
	font-weight: bold;
	font-style: normal;
	font-size: 1.2 em;
	color: #CC6600;
}
.commentlist small {
	margin-bottom: 5px;
	display: block;
	font-size: 87%;
}
table {
	margin: 0.5em 0 1em 0;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #AAB5C3;
	color: #678;
	font-size: 90%;
	font-weight: bold;
	background: url(img/bg-thead.gif) repeat-x bottom left;
	padding: 4px 5px 0 5px;
}
tr.even, tr.odd {
	border-color: #DADCE0;
}
tr.even {
	background-color: #fbfcfe;
}
tr.odd {
  background-color: #fff;
}
td.active {
  background: #e4ecf5;
}
td {
  padding: 3px;
}
td.menu-disabled {
  background-color: #E5E5E5;
}
.poll .bar {
  height: 14px;
  background-color: #D4E2F2;
}
.poll .bar .foreground {
  background: url(img/bg-poll.gif) repeat-x;
  height: 14px;
  clear: none;
  float: left;
}
.poll .vote-form {
  text-align: center;
}

.poll .vote-form .choices {
  padding-left: 5%;
  text-align: left;
  display: block;
}
form {
	font: 110% Arial, Helvetica, sans-serif;
}
form label{
	color: #;
	font-size: 87%;
}
form input{
	background:#f5f9fc;
	border: 1px solid #e1e1e1;
	padding: 3px;
	margin-top: 3px;
}
form textarea{
	height: 115px;
	background:#f5f9fc;
	border: 1px solid #e1e1e1;
	padding: 2px;
	margin-top: 3px;
}
form textarea:focus, form input[type="text"]:focus {
	background: #ffffff;
}
form input[type="submit"] {
	background-color: #0066cc;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	cursor: pointer;
	padding: 0px 5px 0px 5px;
	margin: 0 2px 0 0;
	border:1px solid #e8e8e8;
}
/*sidebar */
#sidebar-right {
	float: right;
	margin: 0;
	padding: 0px 23px 20px 15px;
	width: 195px;
	color: #fff;
	overflow: hidden;
}
/*sidebar title (h2) */
#sidebar-right h2, #sidebar-right .sidebartitle{
	font: bold 140%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 5px 0px 5px 0px;
	margin: 15px 0px 5px 0px;
	border-bottom: 1px dotted #e1e1e1;
}
/*sidebar text styles */
#sidebar-right a, #sidebar-right a:visited{
	color: #fff;
	text-decoration: none;
}
#sidebar-right a:hover{
	color: #0066cc;
	text-decoration: none;
}
/*sidebar list level1 */
#sidebar-right ul {
	margin: 0;
	padding: 0;
}
#sidebar-right ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
/*sidebar list level2 */
#sidebar-right ul li ul {
	padding: 0;
	margin: 0;
}
#sidebar-right ul li ul li{
	padding: 2px 0 2px 0px;
	border-bottom: 1px solid #dceeb7;
}
/*sidebar list level3 */
#sidebar-right ul li ul li ul li{
	padding: 1px 0 1px 10px;
	border: none;
}
/*search form */
#search-theme-form {
	margin: 15px 0 0;
}
#search-theme-form input[type="text"] {
	border:1px solid #0066cc;
	padding: 0px 5px 0px 5px;
	background: #fff;
	margin: 0 2px 0 0;
	color: #000000;
	font-weight: normal;
	width: 100px;
}
#search-theme-form input[type="submit"] {
	background-color: #0066cc;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	padding: 0px 2px 0px 2px;
	margin: 0 2px 0 0;
	border:1px solid #e8e8e8;
}
#credits {
	margin: 0px auto;
	width: 770px;
	color: #7a9299;
	font-size: 85%;
	line-height: 120%;
}
#credits a, #credit a:visited{
	color: #048db4;
}

.form-text  {
	border:1px solid #e1e1e1;
	padding: 0px 5px 0px 5px;
	background: #f5f9fc;
	margin: 0 2px 0 0;
	color: #000000;
	font-weight: normal;
	width: 100px;
}

.center {
	text-align: center;
}
img.center, a img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D5E6AC;
	padding: 3px;
	background: #FFFFFF;
}
a:hover img.center {
	border-color: #FF6600;
	background: #FF6600;
}
.alignleft {
	float: left;
}
img.alignleft, a img.alignleft {
	float:left;
	margin: 4px 10px 5px 0px;
	border: 1px solid #D5E6AC;
	padding: 3px;
	background: #FFFFFF;
}
a:hover img.alignleft{
	border-color: #FF6600;
	background: #FF6600;
}
.alignright {
	float: right;
}
img.alignright, a img.alignright {
	float:right;
	margin: 4px 10px 5px 0px;
	border: 1px solid #D5E6AC;
	padding: 3px;
	background: #FFFFFF;
}
a:hover img.alignright{
	border-color: #FF6600;
	background: #FF6600;
}
.clear {
	clear:both;
}
hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}
#block-comment-0 li {
	background: url(img/mini-comments-add.gif) no-repeat 1px .35em;
	padding-left: 20px !important;
}
#block-user-2 a, #block-user-3  {
	background: url(img/mini-loginout.gif) no-repeat left center;
	padding-left: 20px !important;
}
ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}
ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
}
ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em ! important;
  border: none ! important;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(img/menu-leaf.gif) no-repeat 1px .35em;
}
ul.menu li.expanded {
  background: transparent url(img/menu-expanded.gif) no-repeat 1px .35em;
}
ul.menu li.collapsed {
  background: transparent url(img/menu-collapsed.gif) no-repeat 0px .35em;
}
ul.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a {
  display: block;
}
#footer {
  height:33px;
  padding: 1px 245px 0 30px;
  background:url(img/footer_bg.gif) no-repeat bottom;
  text-align: center;
  color: #626262;
  font-size: 11px;
}
.copy {
	PADDING-LEFT: 30px;
	FONT-SIZE: 9px; COLOR: #9c9e9f;
}
.copy A {
	COLOR: #eeeeee; TEXT-DECORATION: none;
}
.feed {
	PADDING-right: 20px;
}
.book-navigation .menu, .forum-topic-navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px;
	margin-bottom: 10px;
}
.book-navigation .page-links, .forum-topic-navigation {
	PADDING-RIGHT: 2px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #c0c0c0 1px solid; BACKGROUND-COLOR: #fbfbfb; TEXT-ALIGN: center
}
